/********** common css ***********/
*{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6,a,span,strong{
    font-family: 'Poppins', sans-serif;
}
section {
    margin-bottom: 90px;
}
/*********** flex-content *********/
.flex-content{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width h1 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 25px;
}
.half-width span{
    color: #FBA24F;
}
.half-width p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-bottom: 37px;
}
.link-button{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #ff5200;
    padding: 11px 19px;
    border-radius: 25px;
    color: #fff;
    box-shadow: 2px 2px 7px #d3d1d1;
}
.half-width img{
    width: 100%;
}
/********** about-section ***********/
.about-section{
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.my-skil h1 {
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    margin-top: 55px;
    position: relative;
}
.my-skil h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: blue;
    bottom: 0;
    left: 0;
}
.skill-items{
    display: flex;
    justify-content: space-between;
}
.skill-items ul{
    list-style: none;
}
.skill-items ul li {
    list-style: none;
    line-height: 35px;
}
.skill-items ul li::before {
    content: "\f0a9" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 5px;
    color: #ff5200;
}
/************* service-section ************/
.service-title{
    text-align: center;
}
.service-title h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 16px;
}
.service-title p {
    display: inline-block;
    width: 730px;
    color: #a9a4a4;
    margin-bottom: 50px;
}
/** service-items **/
.service-items{
    display: flex;
}
#service-box {
    width: 33% !important;
    box-shadow: 4px 4px 20px #bdb5b5;
    margin-left: 19px;
    margin-right: 19px;
    padding: 2%;
    border-radius: 25px;
}
.service-body img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 25px;
}
.service-content h3 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}
.service-content p {
    font-size: 14px;
    color: #b1abab;
}
/*************** follower-section **************/
.follow-title {
    display: block;
    text-align: center;
    margin-bottom: 80px;
}
.follow-title h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 15px;
}
.follow-title p {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 0px 305px;
    color: #666;
}
.follow-medias {
    display: flex;
    padding: inherit !important;
    box-shadow: 4px 4px 20px rgb(180, 177, 177);
    margin: 0% 4%;
    border-radius: 10px;
}
.follow-comment{
    display: block;
    text-align: center;
}
.follow-comment h3 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
.follow-comment p {
    font-size: 15px;
}